.contactSection {
    display: flex;
    height: 400px;
    padding: 64px;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
    align-self: stretch;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.semiTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.image {
    position: absolute;
    right: 75px;
    z-index: -1;
}

@media (max-width: 768px){
    .contactSection{
        height: 100%;
        padding: 48px 32px;
        background-color: white;
    }
    .image{
        display: none;
    }
}